<a href="https://colab.research.google.com/github/elizamelo/FisicaGeral/blob/main/Aula01_Dados_da_Turma_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

Tabela de idades, pesos e alturas:

In [3]:
#!curl -o Dados-alunos-2023-1.xlsx https://raw.githubusercontent.com/FisicaGeral/main/dados/DadosdaTurma2_2023-1.xlsx
!curl -o Dados-alunos-2020-2.xlsx https://raw.githubusercontent.com/UERJ-FISICA/Fisica-Geral/main/dados/Dados-alunos-2020-2.xlsx

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 23349  100 23349    0     0   110k      0 --:--:-- --:--:-- --:--:--  110k

In [17]:
# array_Idade = np.array( [ 39, 33, 39, 23, 19, 21, 21, 19, 43, 20, 20, 50, 21, 19, 20, 19, 39,
#                           20, 20, 19, 19, 20, 19, 39, 18, 22, 19, 20, 21, 49, 27, 19, 19, 31,
#                           24, 21, 19, 62, 63, 20, 29, 19, 18, 20, 20, 21, 18, 18, 18, 18, 20,
#                           30, 22, 20, 29, 26 ] )
# array_Peso = np.array( [ 100,  75,  97,  80,  60,  72,  62,  89,  75,  85,  72,  82, 130,
#                          65,  74,  65, 110,  60,  70,  65,  75,  70,  60,  97,  60,  68,
#                          68,  90,  45,  80,  53,  62,  65,  95,  70,  67,  73,  58,  84,
#                          82,  84,  88,  60,  75, 120, 100,  90,  78,  55,  90,  60,  73,
#                          80,  56,  80,  83 ] )
# array_Altura = np.array( [ 1.9 , 1.8 , 1.78, 1.83, 1.65, 1.82, 1.79, 1.78, 1.8 , 1.7 , 1.9 ,
#                            1.82, 1.83, 1.85, 1.67, 1.66, 1.8 , 1.65, 1.65, 1.73, 1.72, 1.65,
#                            1.8 , 1.78, 1.63, 1.73, 1.59, 1.76, 1.62, 1.65, 1.69, 1.84, 1.88,
#                            1.76, 1.67, 1.84, 1.68, 1.7 , 1.7 , 1.74, 1.82, 1.75, 1.53, 1.76,
#                            1.85, 1.78, 1.9 , 1.74, 1.85, 1.75, 1.67, 1.68, 1.82, 1.5 , 1.8 ,
#                            1.8 ] )

In [22]:
df = pd.read_excel( "Dados-alunos-2023-1.xlsx", sheet_name="Dados da turma", usecols=[0,1,2,4], nrows=56, index_col=0, names=["Índice", "Idade", "Peso", "Altura"] )
df

                                  Idade  Peso  Altura
Índice
Exemplo                              39   100    1.90
Carlos Alberto                       33    75    1.80
Renato Fernandes Chaves de Souza     39    97    1.78
Tauã Vasconcelos                     23    80    1.83
José Gonçalves                       19    60    1.65
Emilson Ribeiro Matos                21    72    1.82
Ramon Bento                          21    62    1.79
Denis Machado Barbosa Jr             19    89    1.78
Pedro Andrade                        43    75    1.80
Gabriele Pereira                     20    85    1.70
Matheus Dias do Nascimento           20    72    1.90
Marco Aurélio de A. S. Santos        50    82    1.82
Gabriel Willian                      21   130    1.83
Samuel Duran                         19    65    1.85
Carlos Mailson da Silva Ferreira     20    74    1.67
Amanda Gomes                         19    65    1.66
thalles potengy fontes               39   110    1.80
Fernanda Cabral                      20    60    1.65
Lucas Vanderson Mendes da Costa      20    70    1.65
Clara Ribeiro Esteves                19    65    1.73
Luana Santana Ribeiro                19    75    1.72
Felipe Póvoa                         20    70    1.65
Pedro Henrique de Jesus              19    60    1.80
Renato Fernandes Chaves de Souza     39    97    1.78
Mylena Guimarães Furtado             18    60    1.63
Lucas Rodrigues                      22    68    1.73
Natalie Pinheiro                     19    68    1.59
José Souza                           20    90    1.76
Bruna Nunes                          21    45    1.62
Andre Sá de Mattos                   49    80    1.65
Lucas Romeu                          27    53    1.69
Bruno Vilarim Gomes                  19    62    1.84
Rodrigo Pinto                        19    65    1.88
Mateus Fontes                        31    95    1.76
Thayná Amorim                        24    70    1.67
João Pedro Gomes da Matta            21    67    1.84
Rafael Maciel                        19    73    1.68
Marcia Begalli                       62    58    1.70
José Soares Barbosa                  63    84    1.70
Gabriel Varandas                     20    82    1.74
Jonathan Sienkiewicz                 29    84    1.82
Vitor Cial M. D. Brito               19    88    1.75
Manu Damaschio                       18    60    1.53
Otávio Rodrigues                     20    75    1.76
José Junior de Jesus Oliveira        20   120    1.85
Gabriel de Jesus                     21   100    1.78
Virgílio Pita                        18    90    1.90
Nícolas Gonçalves                    18    78    1.74
Miguel Abranches                     18    55    1.85
Gabrielle da Silva                   18    90    1.75
Thiago Fernandes                     20    60    1.67
Diego Meira                          30    73    1.68
Felipe Barreto                       22    80    1.82
Ariany Mattos                        20    56    1.50
Yan Lobo                             29    80    1.80
Romulo Ferreira                      26    83    1.80

In [19]:
#df = pd.read_excel( "Dados-alunos-2020-2.xlsx", sheet_name="Sheet2", usecols=[0,1,2,4], nrows=56,engine='xlrd', index_col=0, names=["Índice", "Idade", "Peso", "Altura"] )
#df

Idade:

In [21]:
#array_Idade = df.iloc[:, 0]
array_Idade = df[ "Idade" ]
array_Idade

NameError: ignored

In [ ]:
np.mean( array_Idade )

In [ ]:
np.sort( array_Idade )

In [ ]:
fig = plt.figure( figsize=(8,6) )

counts, bins, _ = plt.hist( array_Idade, bins=40, range=(15, 55) )
plt.xlim( 15, 55 )
plt.xlabel( "Idade (anos)", fontsize=18 )
plt.ylabel( "Frequência", fontsize=18 )

Peso:

In [ ]:
#array_Peso = df.iloc[:, 1]
array_Peso = df[ "Peso" ]
array_Peso

In [ ]:
np.mean( array_Peso )

In [ ]:
np.sort( array_Peso )

In [ ]:
fig = plt.figure( figsize=(8,6) )

counts, bins, _ = plt.hist( array_Peso, bins=10, range=(40., 140.) )
plt.xlim( 40., 140. )
plt.xlabel( "Peso (kg)", fontsize=18 )
plt.ylabel( "Frequência", fontsize=18 )

Altura:

In [ ]:
#array_Altura = df.iloc[:, 2]
array_Altura = df[ "Altura" ]
array_Altura

In [ ]:
np.mean( array_Altura )

In [ ]:
np.sort( array_Altura )

In [ ]:
fig = plt.figure( figsize=(8,6) )

counts, bins, _ = plt.hist( array_Altura, bins=9, range=(1.55, 2.00) )
plt.xlim( 1.55, 2.00 )
plt.xlabel( "Altura (m)", fontsize=18 )
plt.ylabel( "Frequência", fontsize=18 )

Correlação Idade vs Peso:

In [ ]:
fig = plt.figure( figsize=(8,6) )

plt.plot( array_Idade, array_Peso, 'o' )
plt.xlim( 15, 55 )
plt.ylim( 40., 140. )
plt.xlabel( "Idade (anos)", fontsize=18 )
plt.ylabel( "Peso (kg)", fontsize=18 )

Correlação Idade vs Altura:

In [ ]:
fig = plt.figure( figsize=(8,6) )

plt.plot( array_Idade, array_Altura, 'o' )
plt.xlim( 15, 55 )
plt.ylim( 1.55, 2.00 )
plt.xlabel( "Idade (anos)", fontsize=18 )
plt.ylabel( "Altura (m)", fontsize=18 )

Correlação Altura vs Peso:

In [ ]:
fig = plt.figure( figsize=(8,6) )

plt.plot( array_Altura, array_Peso, 'o' )
plt.xlim( 1.55, 2.00 )
plt.ylim( 40., 140. )
plt.xlabel( "Altura (m)", fontsize=18 )
plt.ylabel( "Peso (kg)", fontsize=18 )

Cálculo das variâncias:

In [ ]:
# Diferença entre média dos quadrados e quadrado da média
np.mean( array_Idade ** 2 ) - np.mean( array_Idade ) ** 2

In [ ]:
np.mean( array_Peso ** 2 ) - np.mean( array_Peso ) ** 2

In [ ]:
np.mean( array_Altura ** 2 ) - np.mean( array_Altura ) ** 2

Usando NumPy:

In [ ]:
var_Idade = np.var( array_Idade, ddof=0 )
var_Idade

In [ ]:
var_Peso = np.var( array_Peso, ddof=0 )
var_Peso

In [ ]:
var_Altura = np.var( array_Altura, ddof=0 )
var_Altura

Cálculo das covariâncias:

In [ ]:
# Sequência com valores dos produtos dos elementos de mesmo índice dos arrays
array_Idade * array_Peso

In [ ]:
# Covariância: diferença entre média dos produtos e produto das médias
np.mean( array_Idade * array_Peso ) - np.mean( array_Idade ) * np.mean( array_Peso )

In [ ]:
np.mean( array_Idade * array_Altura ) - np.mean( array_Idade ) * np.mean( array_Altura )

In [ ]:
np.mean( array_Peso * array_Altura ) - np.mean( array_Peso ) * np.mean( array_Altura )

Usando NumPy:

In [ ]:
# (Idade, Peso)
cov_Idade_Peso = np.cov( array_Idade, array_Peso, ddof=0 )
cov_Idade_Peso

In [ ]:
# Variância Idade
cov_Idade_Peso[0,0]

In [ ]:
# Variância Peso
cov_Idade_Peso[1,1]

In [ ]:
# Covariância (Idade,Peso)
cov_Idade_Peso[0,1]

In [ ]:
# Coeficiente de correlação
cov_Idade_Peso[0,1] / ( np.sqrt( var_Idade ) * np.sqrt( var_Peso ) )

In [ ]:
# (Idade, Altura)
cov_Idade_Altura = np.cov( array_Idade, array_Altura, ddof=0 )
cov_Idade_Altura

In [ ]:
# Variância Idade
cov_Idade_Altura[0,0]

In [ ]:
# Variância Altura
cov_Idade_Altura[1,1]

In [ ]:
# Covariância (Idade,Altura)
cov_Idade_Altura[0,1]

In [ ]:
# Coeficiente de correlação
cov_Idade_Altura[0,1] / ( np.sqrt( var_Idade ) * np.sqrt( var_Altura ) )

In [ ]:
# (Peso, Altura)
cov_Peso_Altura = np.cov( array_Peso, array_Altura, ddof=0 )
cov_Peso_Altura

In [ ]:
# Variância Peso
cov_Peso_Altura[0,0]

In [ ]:
# Variância Altura
cov_Peso_Altura[1,1]

In [ ]:
# Covariância (Peso,Altura)
cov_Peso_Altura[0,1]

In [ ]:
# Coeficiente de correlação
cov_Peso_Altura[0,1] / ( np.sqrt( var_Peso ) * np.sqrt( var_Altura ) )